@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  background: no-repeat url(./images/pattern-curve.svg) left bottom/90%;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  text-align: center;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  max-width: 90vw;
}

.testimonial {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "img" "disc" "name";
  gap: 2rem;
}

.testimonial-text {
  background: no-repeat url(./images/pattern-quotes.svg) top;
  grid-area: disc;
  color: hsl(240, 38%, 20%);
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

.testimonial-name {
  grid-area: name;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  color: hsl(240, 38%, 20%);
}

.testimonial-name span {
  color: hsl(240, 18%, 77%);
  font-size: 1rem;
  display: block;
}

.testimonial-img-box {
  background: no-repeat url(./images/pattern-bg.svg) top/100%;
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.testimonial-img {
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.3);
}

.testimonial-buttons {
  position: absolute;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  padding: 0.8rem;
  display: flex;
  gap: 2rem;
  transform: translateY(-0.5rem);
}

.slide {
  display: none;
}

.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ==================
------DESKTOP--------
===================== */

@media (min-width: 900px) {
  img {
    width: auto;
  }

  body {
    text-align: left;
    background-size: auto;
  }

  main {
    padding-left: 5rem;
    position: relative;
  }

  .testimonial {
    grid-template-areas: "disc img" "name img";
    gap: 0;
  }

  .testimonial-img-box {
    grid-area: 1/2/3;
    margin-left: -100px;
    z-index: -1;
    background-size: contain;
    margin-right: auto;
  }

  .testimonial-text {
    font-size: 1em;
    font-weight: 300;
    align-self: flex-end;
    background-position: 15% 0;
    padding-top: 4rem;
  }

  .testimonial-name {
    padding-top: 1rem;
  }

  .testimonial-name span {
    display: inline;
  }

  .testimonial-buttons {
    bottom: 7rem;
    transform: translateX(4rem);
  }
}
